@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
  font-size: 16px;
  --primary: #212121;
  --primary-dark: #000000;
  --primary-light: #303030;
  --secondary: #ba68c8;
  --secondary-dark: #883997;
  --secondary-light: #ee98fb;

  background-color: var(--primary-dark);
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 1rem;
}

#card{
  position: relative;
  margin: 2rem auto;
  width: 30rem;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 1rem;
  border-radius: 0.3rem;
  overflow: hidden;
  transition: 0.3s;
}

#card:hover{
  background-color: var(--primary-light);
}

#eventImage{
  width: 100%;
  overflow: hidden;
}

#eventImage > img{
  width: 100%;
}

#eventInfo{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 0 1rem;
}

#eventInfo > h2{
  font-size: 1.5rem;
  font-weight: bold;
}

#eventInfo > p{
  font-size: 1rem;
  opacity: 0.6;
}

.link{
  position: relative;
  overflow: hidden;
  border: 0;
  color: var(--primary-dark);
  background-color: var(--secondary);
  padding: 0.5rem 0.5rem;
  font-size: 1.15rem;
  border-radius: 0.3rem;
  width: 8rem;
  text-align: center;
  text-decoration: none;
}

.link::after{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle,#fff 10%,transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(0,0);
  opacity: 0.2;
  transition: transform 0s, opacity 1s;
}

.link:hover::after{
  transform: scale(10,10);
  transition: 0.1s;
}

#cardActions{
  display: flex;
  justify-content: flex-start;
  column-gap: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  padding: 0 1rem;
}

@media screen and (max-width: 450px) {
  :root{
      font-size: 8px;
  }
}